<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    {% head block %}{% endblock %}
</head>

<body>
    {% body block %}{% endblock %}
    
</body>

</html>