{% extends 'base.html' %}

{% block head %}
    <title>Welcome To My Portfolio</title>
{% endblock %}

{% block body %}
<div id="particle-container"></div>
<div class="root">
    <!-- Clean Header -->
    <header class="header">
        <p class="logo">Port<span>Folio.</span></p>
    </header>

    <!-- Hero Content -->
    <section class="content" id="home">
        <div class="hero-content">
            <h1>Henrik Sarawut Bibow Haaland</h1>
            <p class="subtitle">Aspiring Full-Stack Developer | Focused on Clean Code, Secure Systems and so much more!</p>
            <a class="cta-button" href="#skills">Explore My Skills</a>
        </div>
    </section>
    <footer class="footer">
        <nav>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </nav>
        <p class="footer-note">© 2025 Henrik Haaland</p>
    </footer>
</div>
{% endblock %}
